body{
  align-items: center;
  margin: auto;
  background-image: url("css/background.jpg");
  font-weight: 500;
}

.pagetitle{
	color: black;
	text-align: center;
	justify-content: center;
    align-items: center;
	font-size: 35pt;
}

.tablehead{
	background-color: #D3D3D3;
	color: black;
	text-align: center;
	justify-content: center;
    align-items: center;
	font-size: 35pt;	
}
img {
  align-self: center;
  max-width: 100%;
  height: 300px;
  border-radius: 12%;
