body{
  align-items: center;
  margin: auto;
  background: url(css/background.jpg);
  font-weight: 500;
}

.pagetitle{
	color: black;
	text-align: center;
	justify-content: center;
    align-items: center;
	font-size: 80pt;
}

.tablehead{
	background-color: #D3D3D3;
	color: black;
	text-align: center;
	justify-content: center;
    align-items: center;
	font-size: 65pt;
	
}
